@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.s{
    width:100%;
    height:35vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    background:url(https://images.unsplash.com/photo-1694110952701-82f98337a9c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1461&q=80);
    background-position: center;
    background-size: cover;
}
.opacity{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    background:rgba(0,0,0,.5);
}
.nav{
    width: auto;
    height:35vh;
    padding:0 5vw;
    display:flex;
    flex-direction:column;
    align-items:space-around;
    justify-content:space-around;

    background:black;
    text-align:right;

    position:absolute;
    top:0%;
    right: 0%;
    z-index:1;
}
.nav-item{
    font-size: 1.25rem;
    text-decoration:none;
    transition:color 0.5s ease;
}
.nav-item:hover{
    color:gray;
}

.title{
    padding:20vh 0 0 0;
    margin:2vh 3vw;
    font-size: 2.5rem;
}
.descr{
    width:50%;
    margin:0 0 2vh 3vw;
    font-size: .875rem;
}
.title, .descr,.btn,.nav{
    animation:fadeIn 2s ease;
}
@media only screen and (max-width:800px){
    .nav{
        display:none;
        opacity:0;
    }
    .opacity{
        align-items:center;
    }
    .title,.descr{
        width:90%;
        text-align:center;
    }
    .title{
        padding:15vh 0 0 0;
        font-size: 3.5rem;
    }
    .descr{
        padding:0 0 5vh 0;
        font-style: italic;
    }

    .sidebar{
        width:auto;
        height:auto;
        display:flex;
        
        position:absolute;
        right:0;
        top:0;
        animation:fadeIn 2s ease;
    }
    #toggle-sidebar{
        display:none;
    }
    .sidebar label{
        width:2rem;
        height:2rem;
        margin:5vw;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-around;

        position:fixed;
        top:0;
        right:0;
        z-index:2;
    }
    .label-pt{
        width:90%;
        height:.25rem;

        border-radius:.25rem;
        background:white;
    }

    .nava{
        width:0%;
        height:100vh;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-around;

        background:rgba(0,0,0,.8);
        opacity:0;

        position:fixed;
        top:0;
        right:0;
        z-index:1;
        transition:right 0.5s ease,opacity 1s ease,width 1s ease;
    }
    .nav-itema{
        margin:2vh 3vw;
        display:flex;
        align-items:center;
        justify-content:center;

        font-size: 1.25rem;
        text-decoration:none;
        transition:color 0.5s ease;
    }
    .nav-itema:hover{
        color:gray;
    }
    .socialsa{
        width:90%;
        margin:0 0 3vw 0;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-around;
    }
    .sociala{
        width:1.5rem;
        height:1.5rem;
    
        background:white;
        border-radius:.25rem;
        transition:background 0.5s ease;;
    }

    .toggle-sidebar:checked ~ .nava{
        width:100vw;
        display:flex;
        opacity:1;

        transition:right 0.5s ease,opacity 1s ease,width 1s ease;
    }
}




.s1{
    width:100%;
    height:auto;

    background:black;
}

.contents1{ 
    width:100%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    align-items:space-around;
    justify-content:space-around;
}
.content1{
    width:50vh;
    height:60vh;
    margin:5vh;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:flex-end;

    background:url(https://images.unsplash.com/photo-1694110952701-82f98337a9c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1461&q=80);
    background-size: cover;
    background-position: cover;
}
.opacity1{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:flex-end;

    background:rgba(0,0,0,.7);
    transition:background 0.5s ease;
}
.title1{
    width:80%;
    margin:0 2vh;
    text-align:right;
    font-size: 2rem;
    opacity:1;
    transition:opacity 0.5s ease;
}
.descr1{
    width:80%;
    margin:2vh 2vh;
    text-align:right;
    font-size: .875rem;
    font-style: italic;
    opacity:1;
    transition:opacity 0.5s ease;
}

.content1:hover .opacity1{
    background:rgba(0,0,0,0);
}
.content1:hover .descr1, .content1:hover .title1{
    opacity:0;
}
.content1{
    animation:fadeIn 4s ease;
}