@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.s{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    background:black;
    background-position: center;
    background-size: cover;
}

.nav{
    width: auto;
    height:35vh;
    padding:0 5vw;
    display:flex;
    flex-direction:column;
    align-items:space-around;
    justify-content:space-around;

    background:black;
    text-align:center;

    position:absolute;
    top:0%;
    right: 0%;
    z-index:1;
}
.nav-item{
    font-size: 1.25rem;
    text-decoration:none;
    transition:color 0.5s ease;
}
.nav-item:hover{
    color:gray;
}

.title{
    padding:20vh 0 0 0;
    margin:2vh 3vw;
    font-size: 3rem;
    transition:font-size 0.5s ease;
}
.descr{
    width:50%;
    margin:0 0 0 3vw;
    font-size: .875rem;
    font-style: italic;
}
.title,.descr,.nav{
    animation:fadeIn 2s ease;
}
@media only screen and (max-width:800px){
    .nav{
        display:none;
        opacity:0;
    }
    .s{
        align-items:center;
    }
    .title,.descr{
        width:90%;
        text-align:center;
    }
    .title{
        padding:10vh 0 0 0;
        font-size: 3.5rem;
    }
    .descr{
        padding:0;
        font-style: italic;
    }

    .sidebar{
        width:auto;
        height:auto;
        display:flex;
        
        position:absolute;
        right:0;
        top:0;
        animation:fadeIn 2s ease;
    }
    #toggle-sidebar{
        display:none;
    }
    .sidebar label{
        width:2rem;
        height:2rem;
        margin:5vw;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-around;

        position:fixed;
        top:0;
        right:0;
        z-index:2;
    }
    .label-pt{
        width:90%;
        height:.25rem;

        border-radius:.25rem;
        background:white;
    }

    .nava{
        width:0%;
        height:100vh;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-around;

        background:rgba(0,0,0,.8);
        opacity:0;

        position:fixed;
        top:0;
        right:0;
        z-index:1;
        transition:right 0.5s ease,opacity 1s ease,width 1s ease;
    }
    .nav-itema{
        margin:2vh 3vw;
        display:flex;
        align-items:center;
        justify-content:center;

        font-size: 1.25rem;
        text-decoration:none;
        transition:color 0.5s ease;
    }
    .nav-itema:hover{
        color:gray;
    }
    .socialsa{
        width:90%;
        margin:0 0 3vw 0;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-around;
    }
    .sociala{
        width:1.5rem;
        height:1.5rem;
    
        background:white;
        border-radius:.25rem;
        transition:background 0.5s ease;;
    }

    .toggle-sidebar:checked ~ .nava{
        width:100vw;
        display:flex;
        opacity:1;

        transition:right 0.5s ease,opacity 1s ease,width 1s ease;
    }
}


.s1{
    width:100%;
    height:auto;
    display:flex;

    background:black;
}
.pt1a, .pt1b{
    width:50%;
    height:100vh;
    margin:10vh 0 0 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}
.pt1a{
    background:url(https://images.unsplash.com/photo-1694110952701-82f98337a9c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1461&q=80);
    background-position: center;
    background-size: cover;
}
.subtitle1{
    width:80%;
    font-size: .875rem;
    font-style: italic;
}
.title1{
    width:80%;
    margin:1vh 0;
    font-size: 3rem;
}
.descr1{
    width:80%;
    font-size: .875rem;
}
@media only screen and (max-width:1000px){
    .s1{
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .pt1a, .pt1b{
        width:100%;
    }
    .pt1b{
        margin:0;
    }
}
.pt1a,.pt1b{
    animation:fadeIn 5s ease;
}