*{
    color:white;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0;
    margin:0;
    width:100%;
    height:100vh;

    overflow-x: hidden;
}


.btn{
    width:2rem;
    height:2rem;
    margin:3vw;
    display:flex;
    align-items:center;
    justify-content:center;

    background:white;
    border:none;
    border-radius:1rem;

    position:absolute;
    top:0%;
    left:0%;
    z-indeX:1;

    transition:background 0.5s ease;
}
.btn-arrow{
    width:.25rem;
    height:.25rem;

    border-top:2px solid black;
    border-left:2px solid black;
    transition:border-left 0.5s ease, border-right 0.5s ease;
}
.btn:hover{
    background:gray;
}
.btn:hover .btn-arrow{
    border-top:2px solid white;
    border-left:2px solid white;
}


.f{
    width:100%;
    height:auto;
    display:flex;
    justify-content:flex-end;

    background:black;
}
.contentf{
    padding:5vh 0 0 0 ;
    margin:5vh 0 0 0;

}
.logof{
    width:2rem;
    height:2rem;
    margin:2vh 3vw;

    background:white;
}
.descrfa{
    margin:0 0 0 3vw;
    font-size: .875rem;
}
.titlef{
    margin:0 0 0 3vw;
    font-size: 5rem;
}
.navf{
    margin:2vh 1vw;
    display:flex;
}
.navf-item{
    margin:0 0 2vh 2vw;

    text-decoration:none;
    transition:color 0.5s ease;
}
.navf-item:hover{
    color:gray;
}
.descrf{
    width:90%;
    padding:2vh 0 0 0;
    margin:0 0 3vw 3vw;

    font-size: .875rem;
    font-style: italic;
    border-top:2px solid gray;
    color:gray;
}